[Unit]
Description=ArcticArch is a reverse proxy written in Rust that supports routing requests from a local server to a specified domain.
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/ArcticArch/
ExecStart=/usr/bin/cargo run --release
RestartSec=5s
Restart=on-failure

[Install]
WantedBy=multi-user.target
