body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #1e1e1e;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.error-container {
  background: linear-gradient(145deg, #4d9fec, #141e30);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 300px;
  text-align: center;
}

.error-container h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

.error-container p {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.error-container button {
  display: inline-block;
  padding: 10px;
  border: none;
  background-color: #4d9fec;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  font-size: 1em;
}

.error-container button:hover {
  background-color: #333;
}
