@import "default.css";

.proxies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 30px;
}

.proxy-box {
  background: linear-gradient(349deg, #4d9fec, #141e30);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
}

.proxy-info {
  width: 35%;
  margin-right: 20%;
}

.proxy-info h3,
.proxy-info p {
  margin: 0;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  gap: 10px;
}

.proxy-info h3 {
  margin-bottom: 8px;
  font-weight: bold;
}

.proxy-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  font-size: 0.9em;
  text-align: left;
  width: 65%;
}

.proxy-details p {
  margin: 0;
}

.proxy-info p i {
  display: inline-block;
}

.proxy-box:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
}

.status {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

.active {
  background-color: #59c321;
}

.inactive {
  background-color: #e53e3e;
}

.proxy-box h3,
.proxy-box p {
  color: #ffffff;
}

.stats-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: linear-gradient(145deg, #3c4b57, #1e252b);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.card i {
  font-size: 2em;
  margin-bottom: 10px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
}

@media (max-width: 1024px) {
  .stats-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .stats-cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    height: auto;
  }
  .main-content {
    padding: 10px;
  }
}