body,
html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e1e1e;
  color: #fff;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #252526;
  padding: 20px;
}

.logo h1 {
  color: #4d9fec;
  text-align: center;
  margin-bottom: 30px;
}

.logo i {
  margin-right: 10px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li a {
  color: #bbb;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu li a i {
  margin-right: 10px;
}

.menu li a:hover {
  background-color: #333;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
}

.search-bar i {
  margin-right: 10px;
  color: #4d9fec;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: transparent;
  color: #fff;
}