body, html {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    align-items: center;
    background: linear-gradient(145deg, #4d9fec, #141e30);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    color: #fff;
    max-width: 600px;
}

.image-container {
    flex: 1;
    min-width: 300px;
    height: 300px;
    background-image: url('https://i.ibb.co/9Wf8HwK/frostlink.png');
    background-size: cover;
    background-position: center;
    margin-right: 2rem;
}

.login-box {
    flex-grow: 1;
    max-width: 300px;
}


.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.input-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
}

.input-box i {
    margin-right: 10px;
    color: #4d9fec;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    color: #fff;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4d9fec;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #333;
}